.approval_criteria_form {
    background-color:aliceblue;
    border:10px solid;
    border-color:aliceblue;
    border-radius: 5px;
}

.approval_criteria_content {
    margin-left:5em;
    margin-top:2em;
    margin-bottom:2em;
}

.approval_criteria_content table {
    width: 50%;
    background-color:lightgray;
    margin-left:5em;
}

.approval_criteria_content .mandatory_chk {
    margin-left:5em;
    margin-top:1em;
    margin-bottom:1em;
}

.approval_criteria_content .optative_radio {
    margin-left:5em;
    margin-top:1em;
    margin-bottom:1em;
}

.approval_criteria_content .option_label {
    margin-bottom:1em;
    font-size:1.2em;
}

.submit_button {
    margin-top:2em;
    font-size:1em;
    width:8em;
    height:1.8em;
}

.course_type_header {
    font-size:1.5em;
    color:#004E95;
}