.approval_criteria_form {
    background-color:#F0F8FF;
    border:1px solid;
    border-color:#F0F8FF;
    border-radius: 5px;
}

.approval_criteria_content {
    margin-left:1em;
    margin-top:2em;
    margin-bottom:2em;
}

.approval_criteria_content .approval_criteria_block {
    border:1px solid;
    border-color:dodgerblue;
    border-radius: 5px;
    width: 90%;
    margin-left: 3em;
}

.approval_criteria_content table {
    width: 50%;
    background-color:lightgray;
    margin-left:1em;
}

.approval_criteria_content .mandatory_chk {
    margin-left:1em;
    margin-top:1em;
    margin-bottom:1em;
}

.approval_criteria_content .optative_radio {
    margin-left:1em;
    margin-top:1em;
    margin-bottom:1em;
}

.approval_criteria_content .option_label {
    margin-bottom:1em;
    font-size:1.2em;
}

.submit_button {
    margin-top:2em;
    font-size:1em;
    width:8em;
    height:2em;
}

.course_type_header {
    font-size:1.5em;
    color:#004E95;
}