.gradecurricular_form {
    background-color: aliceblue;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 5px;
}

.gradecurricular_content {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.gradecurricular_content .optative_max_min {
    border: 1px solid;
    border-color: dodgerblue;
    border-radius: 5px;
    width: 25%;
}

.gradecurricular_content .optative_max_min div{
    margin-left: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.gradecurricular_content .optative_max_min div .select{
    float: right;
    margin-right: 0.5em;
}

.gradecurricular_content .options {
    margin-top: 1em;
    border: 1px solid;
    border-color: dodgerblue;
    border-radius: 5px;
    width: 60%;
}

.gradecurricular_content .options div{
   margin-left: 0.8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.gradecurricular_content .options div .select{
    float: right;
    margin-right: 0.5em;
}

.submit_button {
    margin-top: 2em;
    font-size: 1em;
    width: 8em;
    height: 2em;
}